*{
   margin:0;
   padding:0;
   box-sizing: border-box;
}

body {
   background-color: #cda434;
}

h1{
   color: white;
   font-size: 30px;
   text-align: center;
   font-weight: 500;
}

.total-container{
   width: 70%;
   height: auto;
   margin: 50px auto;
}

.container-top, .container-bot{
   height: 220px;
}

.container-top{
   margin-bottom: 50px;
   margin-top: 25px;
}

.container-top > h1{
   margin-bottom: 20px;
}

.container-top-in, .container-bot-in{
   height: 90%;
   background-color: white;
}

.container-top-in{
   border-radius: 15px;
}


/* top */
.container-form{
   padding-top: 25px;
   height: 125px;
   display: flex;
   padding-left: 85px;
   padding-right: 85px;
}

#form{
   height: 100%;
   width: 100%;
}

.flex{
   display: flex;
   flex-flow: nowrap row;
}
.b > h4{
   color: #a58429;
   font-size: 16.5px;
   font-weight: normal;
   padding-bottom: 18px;
}
.b{
   height: 90%;
   width: 33%;
   text-align: center;
}

input, button{
   outline: none;
   padding: 5px;
   border-radius: 10px;
   border: 2px solid #a58429;
   text-align: center;
}

button{
   cursor: pointer;
}

.b > button, input {
   width: 80%;
   padding-left: 10px;
   padding-right: 10px;
}

.buttons{
   text-align: center;
   margin-top : 40px;
   padding: 10px;
}

.buttons > input{
   padding: 8px 15px;
   margin: 0 10px;
   background-color: #a58429;
   border-radius: 10px;
   color: white;
}

.buttons > button{
   padding: 8px 15px;
   margin: 0 10px;
   background-color: #a58429;
   border-radius: 10px;
   color: white;
}
.buttons > button:hover{
   background-color: lightgray;
   color: black;
   border: 2px solid black;
   cursor: pointer;
}

/* bot */
.container-bot-in-2{
   padding: 20px;
}

.container-biglietto{
   border-top: 1px solid #a0a0a0;
   border-bottom: 1px solid #a0a0a0;
   background-color: white;
   width: 100%;
   height: 90%;
   display: flex;
   flex-flow: nowrap row;
}
.box{
   width: calc(100% / 5);
   height: 140px;
}

.box:nth-child(1){
   background-color: #a0a0a0;
}
.box:nth-child(1) > h2{
   font-size: 15px;
   padding: 10px 5px;
}
.box:nth-child(1) > h2:nth-child(2){
   font-size: 17px;
   text-align: center;
}

.others > h2{
   font-size: 16px;
   padding: 15px 5px;
   font-weight: bolder;
}

.others > h2:nth-child(2){
   font-weight: normal;
}

#biglietto.show {
  -webkit-animation: in 700ms ease both;
  animation: in 700ms ease both;
}

@-webkit-keyframes in {
  0% { -webkit-transform: scale(0) rotate(12deg); opacity: 0; visibility: hidden;  }
  100% { -webkit-transform: scale(1) rotate(0); opacity: 1; visibility: visible; }
}

@keyframes in {
  0% { transform: scale(0) rotate(12deg); opacity: 0; visibility: hidden;  }
  100% { transform: scale(1) rotate(0); opacity: 1; visibility: visible; }
}
